<div class="footer-test">
  <div class="footer-links">
      <%= link_to  new_recipe_path, class: "testing" do %>
        <i class="fa-solid fa-pizza-slice fa-lg"></i>
      <% end %>
      <%#= link_to  new_wine_path, class: "new_wine" do %>
      <%#<i class="fa-solid fa-wine-bottle"></i>
      <%<% end %>
      <%= link_to  recipes_path, class: "cellar" do %>
        <i class="fa-solid fa-burger fa-lg"></i>
      <% end %>
  </div>
</div>
