.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container {
  /*padding-top: 100px;*/
}

.container-show {
  /*padding-top: 100px;*/
  height: 600px;
}
